h1 {
    color: rgb(11, 87, 239);
}


div.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

div.pagination {
    margin-bottom: 20px;
}

span.step-links { 
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

span.current {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}

.principal {
    background-color: #2c3e50;
    width: 600px;
    height: 400px;
  }
